@tailwind base;
@tailwind components;
@tailwind utilities;

/* boilerplate */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --accent-color: #ffa800;
  --secondary-color: #888888;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* navigation */

main {
  padding: 0 2rem 2rem 2rem;
  width: 100dvw;
}

main.mainPage {
  height: calc(100dvh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header.navHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

header.navHeader .navBlock {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

header.navHeader:not(.showNavLinks) .navBlock.title {
    flex-grow: 1;
}

header.navHeader:not(.showNavLinks) .navLinks, 
header.navHeader:not(.showNavLinks) .divider {
  display: none;
}

header .myName {
  font-weight: 600;
}

header .subtitle, header .divider {
  color: var(--secondary-color);
}

header .myName a:hover {
  color: cyan;
  filter: drop-shadow(0 0 4px cyan);
  transition: filter 0.25s;

}

header.navHeader .navLinks .navBarSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header.navHeader .navLinks .navBarSection.subnav {
  color: var(--secondary-color);
}

.navBarNavItem a:hover, .navBarNavItem.active a {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 0.2rem;
  transition: color 0.5s, filter 0.5s;
}

main.mainPage .fullPageNavSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

main.mainPage .fullPageNavSection.main {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  line-height: 7rem;
  flex-grow: 1;
}

main.mainPage .fullPageNavSection.subnav {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--secondary-color);
}

.fullPageNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
}

.fullPageNavItem a:hover {
  color: var(--accent-color);
  filter: drop-shadow(0 0 6px var(--accent-color));
  transition: color 0.5s, filter 0.5s;
}

.fullPageNavItem::before {
  width: 0;
  opacity: 0;
  transition: width 0.5s, opacity 1s;
}

.fullPageNavItem:hover::before {
  opacity: 100%;
  width: 2rem;
  height: 55%;
  background-color: var(--accent-color);
  content: "";
  left: 0;
  translate: -2rem;
}

/* contact page */

main.contact {
  height: calc(100dvh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contactCard {
  padding: 2rem;
  border: 0.5px solid #ffffff;
}