@tailwind base;
@tailwind components;
@tailwind utilities;

/* boilerplate */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 8, 8;
  --accent-color: #ffa800;
  --secondary-color: #888888;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* navigation */

nav.navHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav.navHeader .navBlock {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

nav.navHeader:not(.showNavLinks) .navBlock.title {
  flex-grow: 1;
}

nav.navHeader:not(.showNavLinks) .navLinks, 
nav.navHeader:not(.showNavLinks) .divider {
  display: none;
}

nav .myName {
  font-weight: 600;
}

nav .subtitle, nav .divider {
  color: var(--secondary-color);
}

nav .myName a:hover {
  color: cyan;
  filter: drop-shadow(0 0 4px cyan);
  transition: filter 0.25s;

}

nav.navHeader .navLinks .navBarSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav.navHeader .navLinks .navBarSection.subnav {
  color: var(--secondary-color);
}

.navBarNavItem a:hover, .navBarNavItem.active a {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 0.2rem;
  transition: color 0.5s, filter 0.5s;
}

main.mainPage .fullPageNavSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

main.mainPage .fullPageNavSection.main {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 6rem;
  line-height: 7rem;
  flex-grow: 1;
}

main.mainPage .fullPageNavSection.subnav {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--secondary-color);
}

.fullPageNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
}

.fullPageNavItem a:hover {
  color: var(--accent-color);
  filter: drop-shadow(0 0 6px var(--accent-color));
  transition: color 0.5s, filter 0.5s;
}

.fullPageNavItem::before {
  width: 0;
  opacity: 0;
  transition: width 0.5s, opacity 1s;
}

.fullPageNavItem:hover::before {
  opacity: 100%;
  width: 2rem;
  height: 55%;
  background-color: var(--accent-color);
  content: "";
  left: 0;
  translate: -2rem;
}

/* content area */

header.fullPageContentHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 2rem;
  gap: 1rem;
}

.fullPageContentHeader h1 {
  font-size: 6rem;
  line-height: 7rem;
}

.fullPageContentHeader p {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 100;
}


main {
  padding: 0 2rem 0 2rem;
  z-index: 100;
}

main.mainPage {
  height: calc(100dvh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

main.fullPageContentSection {
  border-top: 0.5px solid #ffffff;
  border-bottom: 0.5px solid #ffffff;
}

section.experienceItem .itemContent {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

section.experienceItem .itemContent .leftColumn {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2rem 1rem;
  border-left: 0.5px solid #ffffff;
  text-align: right;
}

section.experienceItem .itemContent .rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  border-right: 1px solid #ffffff;
}
section.experienceItem .itemContent .innerContent {
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid #ffffff;
  border-right: 0.5px solid #ffffff;
  padding: 2rem;
}

section.experienceItem h3 {
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

section.experienceItem h4 {
  font-weight: 200;
  font-size: 1.25rem;
}

section.experienceItem .headline {
  font-size: 1.25rem;
  font-weight: 100;
  font-style: italic;
  padding: 1rem 0 1rem;
}

section.experienceItem .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

section.experienceItem .project h5 {
  font-weight: 600;
}

section.experienceItem .project p {
  font-weight: 100;
}

.experienceItem .companyLogo {
  width: 100%;
  height: 160px;
  background: #ffffff;
}

/* main page canvas */

canvas#bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  }

/* contact page */

main.contact {
  height: calc(100dvh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contactCard {
  padding: 2rem;
  border: 0.5px solid #ffffff;
}